<% include partials/_header %>



<section class="search-output">
  <% results.forEach(function(result){ %>
    <% if (result) { %>
      <p>
        <a href="<%= result.urls %>"><%= JSON.stringify(result) %></a>
        <%= result.urls %>
        <%= result.type %>
        <%= result.topic %>
      </p>
    <% } else { %>
      <p>
        <h2>No Results, Brah!</h2>
      </p>
    <% } %>
  <% }); %>
</section>


<% include partials/_footer %>
