<<<<<<< HEAD
<% include partials/_header %>



=======
>>>>>>> ccc17cc58db68f24f22172d7ee1ad981a70735f0
<section class="search-output">
  <% results.forEach(function(result){ %>
    <% if (result) { %>
      <p>
        <a href="<%= result.urls %>"><%= JSON.stringify(result) %></a>
        <%= result.urls %>
        <%= result.type %>
        <%= result.topic %>
      </p>
    <% } else { %>
      <p>
        <h2>No Results, Brah!</h2>
      </p>
    <% } %>
  <% }); %>
<<<<<<< HEAD
</section>


<% include partials/_footer %>
=======
</section> 
>>>>>>> ccc17cc58db68f24f22172d7ee1ad981a70735f0
