<% include partials/_header %>

<section class="search-output">
  <% results.forEach(function(result){ %>
    <% if (typeof result === null) { %>
       <p><h2>No Results, Brah!</h2></p>
    <% } else { %>
       <p>
        <a href="<%=result.urls%>"><%= JSON.stringify(result) %></a>
        <%= result.urls %>
        <%= result.type %>
        <%= result.topic %>
      </p>
    <% } %>
  <% }); %>
</section>